/* Подключение шрифтов */

@font-face {
    font-family: 'Amatic';
    src: url(../fonts/AmaticSC-Bold.ttf);
}

/* Спецификации */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Amatic';
}

/* main */

.main {
    background-color: #372214;
    border: 2px solid #000;
}

a {
    display: block;
    color: #000;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 35px 0;
    text-align: center;
    border: 2px solid #000;
    transition: all 0.5s ease;
}

a:hover {
    background-color: #794228;
    opacity: 0.8;
    box-shadow: 0px 0px 10px 5px #000;
    color: #b8733a;
}